<html lang="en">
	<head>
		<title>Large Group</title>
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" >
		<link rel="stylesheet" href="test.css">
		<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
		<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	</head>

	<body>
		<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">Arkaios</a>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li class="active"><a href="#">Large Group</a></li>
						<li><a href="#">Small Group</a></li>
						<li><a href="#">Analytics</a></li>
					</ul>
					<button type="button" class="btn btn-default navbar-btn pull-right">Sign In</button>
				</div>
			</div>
		</div>

		<div class="col-lg-2 sidebar" data-spy="affix" data-offset-top="0" data-offset-bottom="0" id="sidebar">
			<ul class="nav nav-sidebar">
				<li>
					<a href="#">Overview</a>
				</li>
				<li class="active">
					<a href="#">Attendance</a>
					<div class="sidebar-dropdown row">
						<div class="col-lg-10 col-lg-offset-1">
							<button type="button" class="btn btn-info btn-block navbar-buttons">choose event..</button>
						</div>
						<div class="col-lg-10 col-lg-offset-1">
							<button type="button" class="btn btn-info btn-block navbar-buttons">export event....  </button>
						</div>
					</div>
				</li>
				<li>
					<a href="#">Manage Events</a>
				</li>
				<li>
					<a href="#">Create Event</a>
				</li>
			</ul>
		</div>

		<div class="col-lg-offset-2 col-lg-8" style="margin-top: 50px;">
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
			data <br />
		</div>

	</body>
</html>