<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/attendance-style.css') }}" />
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <title>{% block title %}{% endblock %}</title>
        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script src="{{ url_for('static', filename='js/source.js') }}"></script>
        <script type=text/javascript>
          $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
          $(document).ready(function(){
            pageLoad();
          });
        </script>
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Arkaios</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Large Group</a></li>
                        <li><a href="#">Small Group</a></li>
                        <li><a href="#">Analytics</a></li>
                    </ul>
                    <button type="button" class="btn btn-default navbar-btn pull-right">Sign In</button>
                </div>
            </div>
        </div>
        <div id="content">{% block content %}{% endblock %}</div>
    </body>
</html>