<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/attendance-style.css') }}" />
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <title>{% block title %}{% endblock %}</title>
        <script src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.updatelist.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/constants.js') }}"></script>
        <script src="{{ url_for('static', filename='js/source.js') }}"></script>
        {% block resources %}{% endblock %}

        <script type=text/javascript>
          $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
          $(document).ready(function(){
        
          });
        </script>
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Arkaios</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="{% block active_nav_fgoverview %}{% endblock %}"><a href="{{ url_for('family_group_leader_manage', fg_id=fg_id) }}">Manage</a></li>
                        <li class="{% block active_nav_fgadd %}{% endblock %}"><a href="{{ url_for('family_group_add', fg_id=fg_id) }}">Add Event</a></li>
                    </ul>
                   {% if user %}
                       <a href="/logout" class="btn btn-default navbar-btn pull-right">Logout, {{ user.name }}</a>
                       <a href="/user/changepassword" style="margin-right: 10px;" class="btn btn-default navbar-btn pull-right">Change Password</a>
                   {% else %}
                        <a href="/family-group/login" class="btn btn-default navbar-btn pull-right">Sign In</a>
                   {% endif %}
                </div>
            </div>
        </div>
        <div id="content">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2 col-sm-12">
                        {% for message in messages %}
                            <div style="margin-top: 20px" class="alert alert-info alert-dismissible" role="alert">
                              <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                              <strong>{{ message }}</strong>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}</div>
    </body>
</html>