{% extends 'fgleaderbase.html' %}

{% block content %}

<div class="row">
	<div style="margin-top: 100px" class="col-lg-6 col-lg-offset-3 col-sm-12">
		<h1>Change Password</h1>
		<form action="" method="post" name="changepassword">
		    {{ form.hidden_tag()}}
		    <p>
		        {{ form.current_password(class_="form-control", placeholder="current password..") }}<br>
		    </p>
		    <p>
		    	{{ form.new_password(class_="form-control", placeholder="new password..") }}<br>
		    </p>
		    <p>
		    	{{ form.pw_confirm(class_="form-control", placeholder="confirm new password..") }}<br>
		    </p>
		    <p><input class="btn btn-primary btn-block" type="submit" value="Change Password"></p>
		</form>
	</div>
</div>
{% endblock %}