{% extends 'fgleaderbase.html' %}

{% block content %}

<div class="row">
	<div style="margin-top: 100px" class="col-lg-6 col-lg-offset-3 col-sm-12">
		<h1>Sign In</h1>
		<form action="" method="post" name="login">
		    {{ form.hidden_tag()}}
		    <p>
		        {{ form.username(class_="form-control", placeholder="username") }}<br>
		    </p>
		    <p>
		    	{{ form.password(class_="form-control", placeholder="password..") }}<br>
		    </p>
		    <p><input class="btn btn-primary btn-block" type="submit" value="Sign In"></p>
		</form>
		<a style="margin-top: 50px;" href="/family-group">Return home</a>
	</div>
</div>
{% endblock %}