{% extends 'fgleaderbase.html' %}

{% block title %}
Manage Family Group Attendance
{% endblock title %}

{% block active_nav_fgmanage %}
active
{% endblock active_nav_fgmanage %}

{% block content %}
<div class="row">
	<div style="margin-top: 50px;" class="col-lg-6 col-lg-offset-3">
		<h4>Family Group Events</h4>
		<ul class="list-group">
			{% for event in events %}
				<li class="list-group-item">
					<p>
						<b>{{ event.name }} -
						{{ event.description }}</b>
						<a href="{{ url_for('family_group_event_attendance', fg_id=fg_id, event_id=event.id) }}" class="pull-right">edit attendance</a>
						<!--<span class="pull-right"> | </span>-->
				<a href="#" class="pull-right">edit event info</a>
					</p>
					
				</li>
			{% endfor %}
		</ul>
		<a href="{{ url_for('family_group_add', fg_id=fg_id) }}" class="btn btn-block btn-primary"><i class="fa fa-plus"></i></a>		

	</div>

</div>
{% endblock content %}