<table class="table table-condensed table-hover">
	<tr>
		<th>Name</th>
		<th>Year</th>
		<th> 1</th>
		<th> 2</th>
		<th> 3</th>
		<th> 4</th>
		<th> 5</th>
		<th> 6</th>
		<th> 7</th>
		<th> 8</th>
		<th> 9</th>
		<th> 10</th>
	</tr>
	{% for userRecord in attendance %}
		<tr>
			<td>{{ userInfo[loop.index0].first_name }} {{ userInfo[loop.index0].last_name }}</td>
			<td>{{ userInfo[loop.index0].year }} </td>
			{% for attendanceDataPoint in userRecord %}
				<td class="{% if attendanceDataPoint == 2 %}info{% elif attendanceDataPoint == 1 %}success{% else %}danger{% endif %}"> {{ attendanceDataPoint }}</td>
			{% endfor %}
		</tr>
	{% endfor %}
</table>