		{% extends 'base.html' %}

		{% block content %}
		<div class="col-lg-2 sidebar" data-spy="affix" data-offset-top="0" data-offset-bottom="0" id="sidebar">
			<ul class="nav nav-sidebar">
				<li>
					<a href="#">Overview</a>
				</li>
				<li class="active">
					<a href="#">Attendance</a>
					<div class="sidebar-dropdown row">
						<div class="col-lg-10 col-lg-offset-1">
							<button type="button" class="btn btn-info btn-block navbar-buttons">choose quarter..</button>
						</div>
						<div class="col-lg-10 col-lg-offset-1">
							<button type="button" class="btn btn-info btn-block navbar-buttons">export event..</button>
						</div>
					</div>
				</li>
				<li>
					<a href="#">Manage Events</a>
				</li>
				<li>
					<a href="#">Create Event</a>
				</li>
			</ul>
		</div>
		<div class="row" id="attendance-navigation">
			<div class="col-lg-10 col-lg-offset-2">
				<div class="row">
					<div class="col-lg-9">
						<ul class="nav nav-pills">
							<li><p><b>Current Quarter: </b> <span id="currentQuarter">{{ event_data }}</span><b> Week:</b><p></li>
							<li class="active"><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
							<li><a href="#">5</a></li>
							<li><a href="#">6</a></li>
							<li><a href="#">7</a></li>
							<li><a href="#">8</a></li>
							<li><a href="#">9</a></li>
							<li><a href="#">10</a></li>
						</ul>
					</div>
					<div class="col-lg-3">
						<div class="btn-group">
							<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">sort by..<span class="caret"></span></button>
							<ul class="dropdown-menu" role="menu">
								<li><a href="#">registration</a></li>
								<li><a href="#">class</a></li>
								<li><a href="#">first name</a></li>
								<li><a href="#">last name</a></li>
							</ul>
						</div>
						<div class="btn-group">
							<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">sift..<span class="caret"></span></button>
							<ul class="dropdown-menu" role="menu">
								<li><a href="#">All</a></li>
								<li role="presentation" class="divider"></li>
								<li><a href="#">Freshmen</a></li>
								<li><a href="#">Sophomores</a></li>
								<li><a href="#">Juniors</a></li>
								<li><a href="#">Seniors</a></li>
								<li><a href="#">Others</a></li>
								<li role="presentation" class="divider"></li>
								<li><a href="#">New Visitors</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row" id="attendance-data">	
			<div class="col-lg-10 col-lg-offset-2">
				data <br />
				data <br />
				data <br />
				data <br />
				data <br />
				data <br />
				data <br />
				data <br />
				data <br />
				data <br />
				data <br />
				data <br />
				data <br />
				data <br />
				data <br />
				data <br />
				data <br />
				data <br />
				data <br />
				data <br />
				data <br />
				data <br />
				data <br />
				data <br />
				data <br />
				data <br />
				data <br />
			</div>
		</div>
		

 	{% endblock content %}