		{% extends 'base.html' %}
		
		{% block title %}
		Large Group Attendance
		{% endblock title %}

		{% block content %}
		<div class="col-lg-2 sidebar" data-spy="affix" data-offset-top="0" data-offset-bottom="0" id="sidebar">
			<ul class="nav nav-sidebar">
				<li>
					<a href="{{ url_for('large_group_overview') }}">Overview</a>
				</li>
				<li class="active">
					<a href="#">Attendance</a>
					<div class="sidebar-dropdown row">
						<div class="col-lg-10 col-lg-offset-1">
							<button data-toggle="modal" data-target="#chooseQuarter" type="button" class="btn btn-info btn-block navbar-buttons">choose quarter..</button>
						</div>
						<div class="col-lg-10 col-lg-offset-1">
							<button type="button" class="btn btn-info btn-block navbar-buttons" id="exportEvent">export event..</button>
						</div>
					</div>
				</li>
				<li>
					<a href="{{ url_for('large_group_manage') }}">Manage Events</a>
				</li>
			</ul>
		</div>
		<div class="row" id="attendance-navigation">
			<div class="col-lg-10 col-lg-offset-2">
				<div class="row">
					<div class="col-lg-9">
						<ul class="nav nav-pills">
							<li><p><b>Current Quarter: </b> <span id="currentQuarter">{{ event_data }}</span><b> Week:</b><p></li>
							<li class="active"><a value="1" href="#">1</a></li>
							<li><a value="2" href="#">2</a></li>
							<li><a value="3" href="#">3</a></li>
							<li><a value="4" href="#">4</a></li>
							<li><a value="5" href="#">5</a></li>
							<li><a value="6" href="#">6</a></li>
							<li><a value="7" href="#">7</a></li>
							<li><a value="8" href="#">8</a></li>
							<li><a value="9" href="#">9</a></li>
							<li><a value="10" href="#">10</a></li>
							<li><a value="-1" href="#">All</a></li>
						</ul>
					</div>
					<div class="col-lg-3">
						<div id="sortToggle" class="btn-group">
							<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">sort by..<span class="caret"></span></button>
							<ul class="dropdown-menu" role="menu">
								<li><a value="0" href="#"><i class="fa fa-check"></i>registration</a></li>
								<li><a value="1" href="#">class</a></li>
								<li><a value="2" href="#">first name</a></li>
								<li><a value="3" href="#">last name</a></li>
							</ul>
						</div>
						<div id="siftToggle" class="btn-group">
							<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">sift..<span class="caret"></span></button>
							<ul class="dropdown-menu" role="menu">
								<li><a value="0" href="#"><i class="fa fa-check"></i>All</a></li>
								<li role="presentation" class="divider"></li>
								<li><a value="1" href="#">Freshmen</a></li>
								<li><a value="2" href="#">Sophomores</a></li>
								<li><a value="3" href="#">Juniors</a></li>
								<li><a value="4" href="#">Seniors</a></li>
								<li><a value="5" href="#">Others</a></li>
								<li role="presentation" class="divider"></li>
								<li><a value="6" href="#">New Visitors</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row" id="attendance-data">	
			<div class="col-lg-10 col-lg-offset-2">
				data <br />
				data <br />
				data <br />
				data <br />
				data <br />
				data <br />
				data <br />
				data <br />
				data <br />
				data <br />
				data <br />
				data <br />
				data <br />
				data <br />
				data <br />
				data <br />
				data <br />
				data <br />
				data <br />
				data <br />
				data <br />
				data <br />
				data <br />
				data <br />
				data <br />
				data <br />
				data <br />
			</div>
		</div>
		
		<div class="modal fade" id="chooseQuarter" tabindex="-1" role="dialog" aria-labelledby="chooseQuarterLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="chooseQuarterLabel">Choose Quarter</h4>
					</div>
					<div class="modal-body">
						<div class="list-group">
							<a href="#" value="f13" class="list-group-item">Fall 2013</a>
							<a href="#" value="w14" class="list-group-item">Winter 2014</a>
							<a href="#" value="s14" class="list-group-item">Spring 2014</a>
							<a href="#" value="f14" class="list-group-item">Fall 2014</a>
							<a href="#" value="w15" class="list-group-item">Winter 2015</a>
							<a href="#" value="s15" class="list-group-item">Spring 2015</a>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="button" id="selectQuarter" class="btn btn-primary">Select Quarter</button>
					</div>
				</div>
			</div>
		</div>

        <script type=text/javascript>
			$(document).ready(function(){
				largeGroupAttendancePageLoad();
				console.log("h");
			});
        </script>

 	{% endblock content %}