

{% extends 'simple_base.html' %}

{% block content %}
	<div  class="col-lg-10 col-lg-offset-1 col-md-offset-1 col-md-9">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <h3>Quarter: {{ quarter}}   -  Week: {{ week }}</h3>
            </div>
            <div class="col-lg-4 col-md-4 col-lg-offset-4 col-md-offset-4">
                <a style="margin-top: 25px;" class="btn btn-warning pull-right" href=" {{ url_for('focus_select') }}">Back</a>
            </div>
        </div>

		<div style="margin-top: 50px;" class="row">
            <table id="attendanceTable" class="table table-condensed table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>last name</th>
                        <th>first name</th>
                        <th>email</th>
                        <th>dorm</th>
                        <th>year</th>
                        <th>first time</th>
                    </tr>
                </thead>
                <tbody>
                {% for user in attendance %}
                    <tr>
                        <td>1</td>
                        <td>{{ user.attendee.last_name }}</td>
                        <td>{{ user.attendee.first_name }}</td>
                        <td>{{ user.attendee.email }}</td>
                        <td>{{ user.attendee.dorm }}</td>
                        <td>{{ user.attendee.year }}</td>
                        <td>{% if user.first_time == 1 %}yes{% else %}no{% endif %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
		</div>
	</div>

    <script type="text/javascript">
        $(document).ready(function(){
            $("#attendanceTable").dynatable();
        });
    </script>
{% endblock content %}